li:hover{
  background-color: #8287b7;
}
.fundo{
  background-color: #283288;
}

.branco{
  background-color: white;
  position: absolute;
  width: 720px;
  height: 520px;
  left: 21%;
  top: 7%;
  border-radius: 10%;
}

#botao{
  position: absolute;
  left: 31.41%;
  right: 31.68%;
  top: 73%;
  bottom: 15.52%;

  background: #283288;
  border-radius: 20px;
  font-size: 130%;
}

.logo{
  position: absolute;
  left: 78.01%;
  right: 4.16%;
  top: 4.63%;
  bottom: 75.19%;
  width: 17%;
  height: 12%;
}

.titulo{
  position: absolute;
  left: 36.62%;
  right: 32.62%;
  top: 7.04%;
  bottom: 78.52%;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 624;
  font-size: 64px;
  line-height: 77px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #323232;
}


#cor_inputs{
  background-color: rgb(240, 235, 235);
}

#nome{
  margin-top: 23%;
  width: 60%;
  margin-left: 20%;
}

#email{
  margin-top: 3%;
  width: 60%;
  margin-left: 20%;
}

#senha{
  margin-top: 3%;
  width: 60%;
  margin-left: 20%;
}

.conta_nova{
  position: absolute;
  left: 32.3%;
  top: 87%;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 624;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #323232;
}

#clique_aqui{
  position: absolute;
  left: 53.81%;
  top: 85%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}